<ion-view cache-view="false">
  <ion-nav-title>
    {{::vm.account.Name}} Contacts
  </ion-nav-title>
  <ion-content>

    <ion-list ng-controller="ContactsCtrl as contactsVm">

      <ion-item class="item item-icon-right item-button-right contact"
        collection-repeat="contact in contactsVm.contacts | filter:query"
        type="item-text-wrap"
        >
        <h3>{{::contact.Name}}</h3>
        <p>{{::contact.Title}}</p>
        <button class="button button-icon mobile-phone" ng-disabled="contact.MobilePhone">
        	<i class="icon ion-ios-telephone"
        	   ng-href="tel:{{::contact.MobilePhone}}"></i>
      	</button>
        <button class="button button-icon email" ng-disabled="contact.Email==''">
        	<i class="icon ion-email"
          	 ng-href="mailto:{{::contact.Email}}"></i>
      	</button>

      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
